.task {
  margin: 10px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: grab;
  background: #ffffff;
  /* transition: .3s; */
  padding: 10px;
}

/* .task[data-is-over="true"] { */
  /* background: lightgreen; */
  /* border-top: 3px solid lightslategrey; */
/* } */

.task[data-is-dragging="true"] {
  opacity: 0.5;
}