.column {
  margin: 10px;
  background: #ffffff;
  width: 300px;
  background: rgb(233, 240, 249);
  transition: .3s;
  padding-top: 10px;
  padding-bottom: 100px;
  height: 60vh;
}

.column[data-is-droppable="true"] {
  border: 1px dashed rgb(042, 105, 199);
  background: rgb(233, 240, 249);
}

.column[data-is-over="true"] {
  background: rgb(137, 187, 242);
}

.column-title {
  text-align: center;
  text-transform: uppercase;
}
